
@{
    ViewBag.Title = "THÔNG TIN LIÊN HỆ";
}

<h2>@ViewBag.Title</h2>
<h3>
    THÔNG TIN CHUNG
</h3>
<div class="alert alert-info text-center">
    <a class="alert-link" href="http://www.hcmus.edu.vn/"><h4>TRƯỜNG ĐẠI HỌC KHOA HỌC TỰ NHIÊN - ĐẠI HỌC QUỐC GIA HỒ CHÍ MINH</h4></a>
    <h5>ĐỊA CHỈ: <b>227 Nguyễn Văn Cừ, phường 4, quận 5, Thành phố Hồ Chí Minh</b></h5>
    <h5>KHOA <a class="alert-link" href="http://www.fit.hcmus.edu.vn/vn/"><b>CÔNG NGHỆ THÔNG TIN</b></a></h5>
    <h5>KHÓA <b>2014</b> - LỚP <b>14CK4</b></h5>
    <h5>ĐÂY LÀ <b>ĐỒ ÁN</b> CUỐI <b>MÔN LẬP TRÌNH WEB 2</b></h5>
    <h5>GIẢNG VIÊN PHỤ TRÁCH MÔN HỌC: <b>thầy Mai Anh Tuấn</b></h5>
</div>
<h3>
    THÔNG TIN CÁC THÀNH VIÊN
</h3>
<div class="alert alert-danger">
    <h4>
        TRẦN THẾ NGỌC
    </h4>
    <h6>
        Facebook: <b><a class="alert-link" href="https://www.facebook.com/trtngoc656">info facebook of Ngoc</a></b>
    </h6>
    <h6>
        Email: <b>ttngoc653@gmail.com</b> và <b>1460653@student.hcmus.edu.vn</b>
    </h6>
    <h6>
        Số điện thoại: <b>0947.016.319</b>
    </h6>
</div>
<div class="alert alert-info">
    <h4>
        NGUYỄN MINH NGỌC ANH
    </h4>
    <h6>
        Facebook: <b><a class="alert-link" href="https://www.facebook.com/ngocanh061196">info facebook of Anh</a></b>
    </h6>
    <h6>
        Email: <b>ngocanh62683@gmail.com</b>
    </h6>
</div>
<div class="alert alert-success">
    <h4>
        VÕ THỊ NGỌC GIÀU
    </h4>
    <h6>
        Facebook: <b><a class="alert-link" href="https://www.facebook.com/giau.luffy">info facebook of Giau</a></b>
    </h6>
    <h6>
        Email: <b>1460286@student.hcmus.edu.vn</b>
    </h6>
</div>
<div class="alert alert-warning">
    <h4>
        PHAN NGỌC MINH
    </h4>
    <h6>
        Facebook: <b><a class="alert-link" href="https://www.facebook.com/phan.minhminh.3">info facebook of Minh</a></b>
    </h6>
    <h6>
        Email: <b>minhminh.894@gmail.com</b>
    </h6>
</div>
<div class="alert alert-danger">
    <h4>
        NGUYỄN TRƯƠNG TRÚC QUỲNH
    </h4>
    <h6>
        Facebook: <b><a class="alert-link" href="https://www.facebook.com/QUYNHDEMONS01061995">info facebook of Quynh</a></b>
    </h6>
    <h6>
        Email: <b>1461575@student.hcmus.edu.vn</b>
    </h6>
</div>
