
@{
    ViewBag.Title = "TRANG CHỦ";
}
<div class="panel panel-info">
    <div class="panel-heading"></div>
    <div class="panel-body">
        @{ Html.RenderAction("ShowTop10Buy");}
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading"></div>
    <div class="panel-body">
        @{ Html.RenderAction("ShowTop10New");}
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading"></div>
    <div class="panel-body">
        @{ Html.RenderAction("ShowTop10View");}
    </div>
</div>
