body {
    padding-top: 50px;
    padding-bottom: 20px;
    min-width: 1024px;
    background: url(../Image/background.jpg) fixed;
    margin: 0 auto;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 05px;
    padding-right: 05px;
}

.purport{
    width: 813px;
    float: left;
    margin-left: 5px;
}

.menu-right{
    text-align:right;
    float: right;
    width: 165px;
    margin-right: 5px;
}

.footers{
    opacity:0.9; 
    width:1024px; 
    text-align:center;
}

/*.........................*/
.item-sp{
    border: outset;
    margin: 5px;
    float: left;
    width: 150px;
    text-align: center;
    border-radius: 10px;
    float: left;
    border-color: darkorchid;
}

.item-sp-name{
    font: bold 14px arial;
    color: #f39;
    margin-top: 2px;
}

.item-sp-price{
    font: bold 12px arial;
    color: #f30;
}

.item-sp-orther{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.42857143;
    color: #337ab7;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.modal {
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: Black;
    filter: alpha(opacity=60);
    opacity: 0.6;
    -moz-opacity: 0.8;
    display: none;
}
.center {
    z-index: 1000;
    margin: 50px auto;
    padding: 10px;
    width: 130px;
    background-color: White;
    border-radius: 10px;
    filter: alpha(opacity=100);
    opacity: 1;
    -moz-opacity: 1;
}

.buttn{
	border:none;
	height: 41px;
	font-size: 14px;
	font-weight: normal;
	color: white;
	background-color: #4d7080;
	/*background-color: rgba(255, 165, 0, 0.3)*/
	display: indtne-block;
}
	.buttn:hover{
		background-color: black;
		height: 50px;
		/*background-color: rgba(255, 165, 0, 0.8)*/
		font-size: 14px;
		font-weight: bold;
		text-decoration: underline;
	}

.main_menu{ 
	margin-top: -30px;
	margin-bottom: 70px;
    width:1024px;
    margin-left:-15px;
}
.main_menu>dl>dt{ 
	float: left; 
	position: relative;
	font-stretch: normal;
}
.main_menu>dl>dt>dl{ 
	text-align: center;
	display: none; 
	position: absolute; 
	background: blue;
	width: 200px;
	background-color: #4d7080;
	z-index: 1;
}
.main_menu>dl>dt:hover dl{ 
	display: block;
	z-index: 1;
}
.main_menu dl dt:hover{
	font-weight: bold;
	background: black; 
	transition: all 0.5s;
}
.main_menu>dl>dt>dl>dt{
	padding: 5px 10px;
	font-weight: normal;
}
.main_menu>dl>dt>dl>dt>a{ 
	color: white;
}
