<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        ADMIN        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="#">Thêm Sản phẩm</a></li>
        <li><a href="#">Thêm loại CPU</a></li>
        <li><a href="#">Thêm Cart màn hình</a></li>
        <li><a href="#">Thêm Hãng xản xuất</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Quản lý Người dùng</a></li>
        <li><a href="#">Quản lý Đơn hàng</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">(trống)</a></li>
    </ul>
</li>

<!--<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Chào Model.hoten
        <span class="caret"></span>
        &nbsp; &nbsp;
    </a>
    <ul class="dropdown-menu dropdown-menu-left">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li role="separator" class="divider"></li>
        <li>Html.ActionLink("Đăng xuất", "LogOut", "Default")</li>
    </ul>
</li>-->
