
@{
    ViewBag.Title = "THÔNG BÁO LỖI";
}

<div style="text-align:center;">
    <h2 class="alert alert-danger">TRANG NÀY KHÔNG ĐƯỢC XÂY DỰNG</h2>
    <h2 class="alert alert-warning">HOẶC CẦN ĐĂNG NHẬP MỚI SỬ DỤNG ĐƯỢC TRANG NÀY</h2>
    <h2 class="alert alert-danger">HAY TRANG NÀY KHÔNG ĐƯỢC PHÂN QUYỀN (BỊ CẤM VÀO)</h2>
    <h2>MONG QUÝ KHÁCH THÔNG CẢM</h2>
</div>
