@model SellLaptop.Models.LogIn

<li class="dropdown">
    <a href="" class="dropdown-toggle" data-toggle="dropdown">Log In <span class="caret"></span></a>
    <ul class="dropdown-menu dropdown-lr animated" role="menu">
        <div class="col-md-12">
            @using (Html.BeginForm("LogIn", "Default", FormMethod.Post, new { @role = "form", id = "ajax-login-form", autocomplete = "off" }))
            {
                <div class="form-group">
                    <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="" autocomplete="off">
                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" tabindex="3" name="remember" id="remember">
                                    <label for="remember"> Remember Me</label>
                                    <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-success" value="Log In">
                                </div>
            }
        </div>
    </ul>
</li>
<li class="dropdown">
    <a href="http://phpoll.com/register" class="dropdown-toggle">Register&nbsp; &nbsp;</a>
</li>
