
@{
    ViewBag.Title = "LogIn";
}

<h2 class="alert alert-warning text-center">THỰC THI THÀNH CÔNG<br />TRÌNH DUYỆT SẼ QUAY LẠI TRANG TRƯỚC NGAY</h2>
<script>
    window.location = "@Session["url"]";
</script>