@model SellLaptop.Models.khach_hang

<li class="dropdown">
    <a href="@Url.Action("","Cart")" title="xem Giỏ hàng" class="dropdown-toggle"><img src="~/Image/shopping.png" width="22px" alt=""/> <span class="badge">@Session["count_sp"]</span> sản phẩm</a>
</li>
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Chào @Model.hoten
        <span class="caret"></span>
        &nbsp; &nbsp;
    </a>
    <ul class="dropdown-menu dropdown-menu-left">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li role="separator" class="divider"></li>
        <li>@Html.ActionLink("Đăng xuất","LogOut","Default")</li>
    </ul>
</li>