@model IEnumerable<int>

<li>
    <a>
        <label class="radio-inline"><input name="ram" checked="checked" value="0" type="radio">Tất cả</label>
        @foreach (var i in Model)
        {
            <label class="radio-inline"><input name="ram" value="@i" type="radio">@i GB</label>
        }
    </a>
</li>