<li>
    <a>
        <input type="number" name="tu" value="5" max="1000" min="0" step="5" placeholder="giá từ"> 00,000 VNĐ - 
        <input type="number" name="den" value="1000" max="1000" min="5" step="5" placeholder="giá đến"> 00,000, VNĐ
    </a>
</li>

