@model IEnumerable<SellLaptop.Models.cart_do_hoa>

@{ var count = 0;}
<li>
    <a>
        <label class="radio-inline"><input name="dohoa" checked="checked" value="" type="radio">Tất cả</label>
        @foreach (var i in Model)
        {
            if (((count + 1) % 5) == 0)
            {
                @Html.Raw("</a></li><li><a>");
            }
            <label class="radio-inline"><input name="dohoa" value="@i.thietke" type="radio">@i.thietke</label>
            count++;
        }
    </a>
</li>
