@model SellLaptop.Models.searchProduct

@using (Html.BeginForm("Search", "Search"))
{
    <div class="input-group">
        <div class="input-group-btn">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li class="dropdown-header">Hãng</li>
                @{ Html.RenderAction("SearchListHangSX", "Default");}
                <li class="dropdown-header">Giá cả</li>
                @{ Html.RenderAction("SearchGiaCa", "Default");}
                <li class="dropdown-header">Thiết kế card đồ họa</li>
                @{ Html.RenderAction("SearchDoHoa", "Default");}
                <li class="dropdown-header">Dung lượng ram:</li>
                @{ Html.RenderAction("SearchDungLuongRam", "Default");}
                <li class="dropdown-header">CPU:</li>
                @{ Html.RenderAction("SearchCPU", "Default");}
            </ul>
        </div>
        <input type="text" class="form-control" name="key" aria-label="Text input with dropdown button" placeholder="cần tìm gì?" />
    </div>
    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
}